*{
  box-sizing:border-box;
}

body{
  margin:0;
  max-width: 1440px;
  

.App{
  width: 100%;
  display:flex;
  flex-direction: column;
  justify-content: center;
}
}

nav{
  width:100%;
  display:flex;
  align-items: center;
  justify-content:center;
  gap:5px;
  background-color: #F55A5A;
}

.nav--image{
  width:24px;
  height:24px;
}

.nav--text{
  font-size:15px;
  color: #FFFF;
}

section{
  padding:35px;
}

.hero{
  width:80%;
  display:flex;
  align-self: center;
  gap:40px;
}

.hero--image1{
  width:125px;
}

.hero--info{
  font-size: 10px;
  display:flex;
  flex-direction: column;
  justify-content:center;
  
}

.hero--location{
  display:flex;
  gap:5px;
  align-items:center;
  font-size: 10px;
  color:  #2B283A;
}

.hero--image2{
  width:7px;
  height:10px;
  margin-right:5px;
}

.hero--country{
  color:  #2B283A;
}

.hero--view{
  color:  #918E9B;
  text-decoration: underline;
}

.hero--header{
  font-weight:bold;
  font-size: 25px;
  margin-top: 5px;
  margin-bottom: 10px;

}

.hero--date{
  font-weight:700;
  margin-top: 10px;
  margin-bottom: 5px;
  line-height: 12px;

}

.hero--text{
  margin-top: 5px;
  margin-bottom: 5px;
  line-height: 15px;
  font-weight:400;
}


